<?xml version="1.0" encoding="utf-8"?>
    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:tools="http://schemas.android.com/tools"

    package="com.xwtiger.devrescollect">

    <!--<uses-permission android:name="android.permission.INTERNET"></uses-permission>-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>





    <!--    魔窗-->
    <!-- 连接互联网Internet权限 -->
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据。 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--判断程序是否在前台运行,必须 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 检测手机基本状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->

    <!-- android:theme="@style/AppTheme"-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppThemeReading"
        tools:replace="android:allowBackup,icon,theme,label"
        >

        <activity android:name="com.xwtiger.devrescollect.act.ActivityFromWeb">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="youshu" android:host="youshu.cc"></data>
                <data android:scheme="youshuapp" android:host="pack"></data>

            </intent-filter>
        </activity>

        <!--android:theme="@style/ActivityTransitionTheme" -->
        <activity android:name="com.xwtiger.devrescollect.test.TestActivity"
            android:theme="@style/Splash"
            >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>



        <activity android:name="com.xwtiger.devrescollect.test.TestLiveActivity"
            >
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.MAIN" />-->

<!--                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                </intent-filter>-->
        </activity>


        <activity android:name="com.xwtiger.devrescollect.view.TestLayoutAnmationActivity"
            >
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.MAIN" />-->

<!--                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                </intent-filter>-->
        </activity>

        <activity android:name="com.xwtiger.devrescollect.test.TestTransitonDitailActivity"
            android:theme="@style/ActivityTransitionTheme"
            >
        </activity>
        <activity android:name="com.xwtiger.devrescollect.MainActivity"
            >
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name="com.xwtiger.devrescollect.study.androidapi.msg.TestHandlerActivity"
            >
        </activity>
        <activity android:name="com.xwtiger.devrescollect.test.SWCameraStreamingActivity"
            >
        </activity>
        <activity android:name="com.xwtiger.devrescollect.test.TestLockScreenActivity"
            >
        </activity>
        <activity android:name="com.xwtiger.devrescollect.test.TestMyListViewActivity"
            >
        </activity>
        <activity android:name=".act.deeplink.TestDeepLink"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name="com.xwtiger.devrescollect.study.androidapi.behavoir.BehaviorActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.xwtiger.devrescollect.study.androidapi.event.TestCoordinateActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.xwtiger.devrescollect.study.androidapi.behavoir.UCActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.xwtiger.devrescollect.study.androidapi.behavoir.BehaviorForTaoBaoDetailActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.xwtiger.devrescollect.test.TestTextViewActivity"
            android:exported="true"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="com.xwtiger.devrescollect.test.TestXiMaLaYaActivity"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity android:name="com.xwtiger.devrescollect.test.TestViewPage"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity android:name="com.xwtiger.devrescollect.test.TestNotificationActivity"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity android:name="com.xwtiger.devrescollect.test.TestClipChildActivity"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name="com.xwtiger.devrescollect.test.TestShadowActivity"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity android:name="com.xwtiger.devrescollect.test.TestWebViewActivity"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity android:name="com.xwtiger.devrescollect.test.TestAnimationForNineActivity"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>



        <activity android:name="com.xwtiger.devrescollect.test.TestDbActivity"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name="com.xwtiger.devrescollect.test.TestAnimationActivity"
            >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity android:name="com.xwtiger.devrescollect.study.androidapi.event.TestEventActivity"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name="com.xwtiger.devrescollect.study.androidapi.draw.testdraw.TestDrawActivity"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name="com.xwtiger.devrescollect.TestRxActivity"
            >
<!--            <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->

<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>


        <activity android:name="com.xwtiger.devrescollect.study.androidapi.img.ImgActivity"
            >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name="com.xwtiger.devrescollect.kotlin.TestKotlinActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>






            <service android:name="com.xwtiger.devrescollect.study.androidapi.service.TestService"
                >
            </service>

         <!--<receiver android:name=".broadcast.ScreenBroadcastReceiver">-->
             <!--<intent-filter>-->

                 <!--<action android:name="android.intent.action.USER_PRESENT"></action>-->
             <!--</intent-filter>-->

         <!--</receiver>-->
        </application>




        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />

    </manifest>